<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

    <!-- wp:pattern {"slug":"blue-raeven/page-hero-story"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/photo-banner"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/story-block-left"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/timeline"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/story-block-right"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/image-gallery"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/features-grid"} /-->

    <!-- wp:pattern {"slug":"blue-raeven/testimonial"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
